# Ignore node modules installed by npm
node_modules/
.next/
out/
dist/
artifacts/
.artifacts/
*.tsbuildinfo

# Optional: ignore npm debug logs
npm-debug.log*
*.pptx
*.docx
*.gif
*.mp4
# Ignore local environment files
.env
.env.local
.env.*.local

.vercel
.env
